@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Iceland', cursive;
    font-size: 22px;
    font-weight: 400;
    color: #efefef;
}

.daily {
    border-collapse: collapse; 
    width: 80%;
    text-align: center;
}

.pomodorro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pomodorro h1 {
    margin-bottom: 25px;
}

.pomodorro input {
    padding: 10px 0;
}

.time {
    display: flex;
    width: 200px;   
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.time > input:hover {
    cursor: pointer;
}

.daily tr {
    border-bottom: 1px solid #efefef;
}

.daily td {
    border: 1px solid #efefef;
}

#root {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
}

.sign {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    background-color: #222;
    padding: 10px 10px;
    height: 60px;
}

.sign:hover {
    width: 200px;
    cursor: pointer;
}

.optBtn {
    width: 250px;
    border-radius: 5px;
    color: #222;
    margin-top: 15px;
    font-size: 28px;
    height: 100px;
    background-color: #efefef;
    transition: all .2s ease-in-out;
}

.taskLister {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.block {
    display: flex;
}

.none {
    display: none;
}

.reset {
    position: absolute;
    top: 5px;
    padding: 5px 5px;
    background-color: rgb(228, 57, 57);
    border-radius: 5px;
    color: #efefef;
    font-weight: 700;
    right: 5px;
    width: 20px;
}

.change {
    position: absolute;
    top: 5px;
    padding: 5px 5px;
    background-color: rgb(57, 154, 228);
    border-radius: 5px;
    color: #efefef;
    font-weight: 700;
    right: 30px;
    width: 20px;
}

.reset:hover {
    cursor: pointer;
}

.taskLister > li {
    width: 250px;
    min-height: 40px;
    border-radius: 5px;
    background-color: #efefef;
    color: #222;
    margin: 5px 5px;
    padding: 5px 5px;
    position: relative;
    transition: all .1s ease-in-out;
}

.taskLister > li:hover {
    min-height: 90px;
    transition: all .1s ease-in-out;
}

.taskOptBtn {
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

.taskOptBtn:hover {
    cursor: pointer;
}

.tasks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskList {
    width: calc(100% - 200px);
    height: 100%;
}

.opts {
    width: 200px;
    height: 100%;
}

.optBtn:hover {
    transition: all .2s ease-in-out;
    cursor: pointer;
    background-color: aqua;
    color: #efefef;
}

.sign:hover .user::after {
    content: "Sign Up";
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 18px;
    transition: all .2s ease-in-out;
}

.sign:hover .account::after {
    content: "Dashboard";
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 18px;
    transition: all .2s ease-in-out;
}

.logoImg {
    width: 40px;
    max-height: 40px;
}

.changeProps {
    flex-direction: column;
}

#changeSubmit {
    width: 100%;
    padding: 5px 10px;
    color: #efefef;
    background-color: #222;
    margin-top: 5px;
}

#changeSubmit:hover {
    cursor: pointer;
}

.changeEle {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu:hover .logoImg {
    margin-left: 10px;
}

.user {
    height: 100%;
}

.menu {
    width: 60px;
    height: 100%;
    background-color: #222;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    z-index: 2;
}

.menu:hover {
    width: 300px;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu:hover ~ .flex {
    margin-left: 60px;
    filter: grayscale(200%) blur(1px);
    transition: all .01s ease-in-out;
}

.menu:hover ~ .sign {
    z-index: 2;
}

.menuOpt {
    padding: 10px 10px;
    width: 60px;
    height: 60px;
    font-weight: 700;
    text-align: center;
}

.menu:hover .menuOpt {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.menu:hover svg {
    display: block;
    width: 60px;
    text-align: center;
}

.logo {
    margin-top: auto;
}

.flex {
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 100%;
    background: url("./assets/heroImage.jpg");
    background-size: cover;
    animation-name: siteBck;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes siteBck {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 -30px;
    }

    100% {
        background-position: 0 0;
    }
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer {
    height: 200px;
    background-color: #222;
    position: relative;
}

.header {
    height: 60px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
}

.heroBtn {
    margin-top: 15px;
}

.heroBtnInput {
    background-color: #222;
    padding: 20px 25px;
    color: #efefef;
    cursor: pointer;
}


.shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    padding: 10px 15px;
    height: 100%;
    background-color: #efefef;
}

.socials {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 350px;
    flex-direction: column;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 5px 0;
    align-items: flex-start;
}

h6 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #efefef;
    font-weight: 700;
}

.rights {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.footer::before {
    content: "";
    display: block;
    position: absolute;
    top: -25%;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #222;
    border-top: 5px solid #efefef;
    transform: skewY(-2deg);
}

.error {
    color: rgb(212, 38, 38);
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin: 15px auto;
}

.success {
    color: rgb(73, 218, 54);
}

label {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: space-between;
}

.form input {
    width: 50%;
    padding: 10px 5px;
}

input[type='submit'] {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}
.inner {
    background-color: #222;
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 80px 80px;
    margin-top: 150px;
}

.reg {
    text-align: center;
}

.inner::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 80%;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #222;
    border-top: 5px solid #efefef;
    transform: skewY(-2deg);
}
