@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Iceland', cursive;
    font-size: 22px;
    font-weight: 400;
    color: #efefef;
}

#root {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
}

.sign {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    background-color: #222;
    padding: 10px 10px;
    height: 60px;
}

.sign:hover {
    width: 150px;
    cursor: pointer;
}

.sign:hover .user::after {
    content: "Sign Up";
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 18px;
    transition: all .2s ease-in-out;
}

.logoImg {
    width: 40px;
    max-height: 40px;
}

.menu:hover .logoImg {
    margin-left: 10px;
}

.user {
    height: 100%;
}

.menu {
    width: 60px;
    height: 100%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    z-index: 2;
}

.menu:hover {
    width: 300px;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu:hover ~ .flex {
    margin-left: 60px;
    filter: grayscale(200%) blur(1px);
    transition: all .01s ease-in-out;
}

.menu:hover ~ .sign {
    z-index: 2;
}

.menuOpt {
    padding: 10px 10px;
    width: 60px;
    height: 60px;
    font-weight: 700;
    text-align: center;
}

.menu:hover .menuOpt {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.menu:hover svg {
    display: block;
    width: 60px;
    text-align: center;
}

.logo {
    margin-top: auto;
}

.flex {
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 100%;
    background: url("./assets/heroImage.jpg");
    background-size: cover;
    animation-name: siteBck;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes siteBck {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 -30px;
    }

    100% {
        background-position: 0 0;
    }
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer {
    height: 200px;
    background-color: #222;
    position: relative;
}

.header {
    height: 60px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
}

.heroBtn {
    margin-top: 15px;
}

.heroBtnInput {
    background-color: #222;
    padding: 20px 25px;
    color: #efefef;
    cursor: pointer;
}


.shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    padding: 10px 15px;
    height: 100%;
    background-color: #efefef;
}

.socials {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 350px;
    flex-direction: column;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 5px 0;
    align-items: flex-start;
}

h6 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #efefef;
    font-weight: 700;
}

.rights {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.footer::before {
    content: "";
    display: block;
    position: absolute;
    top: -25%;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #222;
    border-top: 5px solid #efefef;
    transform: skewY(-2deg);
}

@keyframes displ {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #222;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.error {
    color: rgb(212, 38, 38);
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin: 15px auto;
}

label {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 50%;
    padding: 10px 5px;
}

input[type='submit'] {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}
.inner {
    background-color: #222;
    width: 100%;
    height: 100%;
    animation-name: displ;
    animation-duration: .3s;
    opacity: 1;
    padding: 80px 40px;
    margin-top: 150px;
}

.reg {
    text-align: center;
}

@keyframes innerBck {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 80%;
    }
}

.inner::before {
    content: "";
    display: block;
    position: absolute;
    animation-name: innerBck;
    animation-duration: .2s;
    bottom: 80%;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #222;
    border-top: 5px solid #efefef;
    transform: skewY(-2deg);
}

/*
.menuOpt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#root {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h6 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.header {
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.menu {
    width: 60px;
    height: 100%;
    background-color: #222;
    padding: 5px 5px;
    position: sticky;
    top: 0;
    left: 0;
    color: #efefef;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 999;
}

.menu:hover .hamburger {
    position: relative;
    width: 100%;
}

.menu:hover .logo {
    position: relative;
    width: 100%;
}
@keyframes back {
    from {
        background-position: 0 0;
    }
    50% {
        background-position: 0 -50px;
    }
    to {
        background-position: 0 0;
    }
}

.heroBtnInput {
    padding: 15px 10px;
    background-color: #222;
    font-weight: 700;
    z-index: 999;
    color: #efefef;
}

.heroBtnInput:hover {
    cursor: pointer;
}

.shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: #efefef;
}

.heroBtnInput:hover ~ .shadow {
    bottom: 0;
    right: 0;
    transition: all .2s ease-in-out;
}

.menu:hover {
    position: absolute;
    top:0;
    left: 0;
    z-index: auto;
    width: 300px;
    transition: all .1s ease-in-out;
    text-align: right;
    padding: 10px 0;
}

.sign:hover {
    width: 150px;
    display: flex;
    transition: .1s;
    cursor: pointer;
}

.sign:hover .user {
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
}

.sign:hover .user::after {
    content: "Sign Up";
    text-align: right;
    display: block;
    position: absolute;
    font-size: 28px;
    font-size: 20px;
    margin-left: 15px;
    line-height: 200%;
}

.menu:hover ~ .flex {
    margin-left: 60px;
}

.heroBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    margin-bottom: 15px;
}

.flex {
    background: url("./assets/heroImage.jpg");
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    animation-name: back;
    position: absolute;
    transition: all .2s;
    z-index: -1;
    animation-duration: 30s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.inner {
    width: 500px;
}

.contact {
    position: relative;
}

.inner {
    z-index: 500;
}

.contact .decor {
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
    height: calc(100% + 43px);
    transform: skewY(-5deg);
    border-top: 5px solid #efefef;
    background-color: #222;
}

.content {
    height: calc(100% - 300px);
    display: flex;
    background-color: transparent;
    z-index: 99999999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 350px;
    display: flex;
    position: relative;
    color: #efefef;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.deco {
    width: 150%;
    height: 350px;
    bottom: -60%;
    right: -100px;
    border-top: 5px solid #efefef;
    transform: rotateZ(-5deg);
    position: absolute;
    background-color: #222;
}

.socials {
    width: 30%;
    height: 150px;
    background-color: #222;
    padding: 10px 20px;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 150px;
}

a {
    text-decoration: none;
    color: #efefef;
    font-weight: 700;
}

.rights {
    width: 100%;
    background-color: #222;
    height: 40px;
    padding: 0 20px;
    line-height: 150%;
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 500;
}

.hamburger, .logo, .user {
    height: 40px;
}

.menu:hover .hamburger {
   padding: 10px 25px;
   justify-content: space-between;
}

.menu:hover, .logo {
    justify-content: space-between;
}

.hamburger, .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger > svg, .logo > svg {
    display: block;
}

.hamburger, .logo {
   height: 60px;
   padding: 10px 5px;
   font-weight: 700;
}
.hamburger:hover {
    
   cursor: pointer;
   background-color: #202020;
}
.sign {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    background-color: #222;
    color: #efefef
}

.logo {
    margin-top: auto;
}

.menuOpt:hover {
    cursor: pointer;
    background-color: #202020;
}
*/